*{
    padding: 0;
    margin: 0;
}

body {
    background: #A7FFEB;

}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1em;
}

.titulo{
    margin: 1em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    width: 150px;
    height: 70px;
    border-radius: 10px;
    background-color: #64FFDA;
    border-color: #64FFDA;
    margin: 1em;
    color: #004D40;
}

#print{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

.impresion{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #1DE9B6;
    border-radius: 10px;
    height: 50px;
    width: 200px;
}